﻿@charset "UTF-8";

table{
	margin-bottom:10px;
	width:700px;
	border-width:1px;
	}

th{
border:1px solid #333;
padding:2px;

}

.midashi{
	background-color:#C4D9EF;
	font-size:14px;
	}


.midashi2{
	background-color:#F0F6FF;
	font-weight:bold;
	}

.hikakutitle{
font-size:16px;
}

.tableleft{
text-align:left;
padding-left:5px;}


.seclogo{
	width:200px;
}