﻿@charset "UTF-8";
body,
ul,
li,
p,
h1 {
    margin: 0;
    padding: 0;
}
body {
    font-family: "ＭＳ Ｐゴシック",Osaka,"ヒラギノ角ゴ Pro W3",Arial;
    font-size: 80%;
    line-height: 1.7;
    color: #333;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fff;
}
#container {
    width: 575px;
    margin: auto;
    padding: 10px;
    text-align: left;
	/**add new on 08/06/2016**/
	padding-bottom:0px;
	
}
.image {
    border: 1px solid #77c;
    width: 575px;
    height: 300px;
    clear: both;
}
#head {
    background-color: #efefef;
    width: 575px;
    height: 30px;
    margin-bottom: 2px;
}
.right { text-align: right }
a,
a:visited,
a:active,
a:hover { color: #04c }
p {
    padding-left: 10px;
    background: url(/img/arrow.gif) no-repeat center left;
    margin-left: 10px;
}
h1 {
    float: left;
    padding-left: 10px;
    background: none;
    margin-left: 0;
    font-weight: bold;
    line-height: 30px;
    font-size: 17px;
    color: #000;
    display: inline;
}
ul { margin-bottom: 10px }
li {
    display: inline;
    padding-left: 10px;
}
.cent {
    text-align: center;
    /*margin-top: 10px;*/
	 
	margin-top:-3px;
}
.sitetitle {
    background: url(/img/arrow.gif) no-repeat center left;
    padding-left: 10px;
    float: right;
    margin-right: 10px;
}
.mchart-tweet {
    padding-left: 15px;
    background: url(/img/twittericon.png) no-repeat center left;
}
.tweet {
    margin: 4px 10px 0 0;
    float: right;
    display: inline;
}

/*** for pmi chart ****/
.list_pmi{
	margin:5px 0 5px 0;
	padding:0px;
	text-align="center";
}

.list_pmi table{
	width: 575px;
	border-collapse: collapse;
	border:1px solid #A9A9A9;
	background-color:#FFFFFF;
	color:#000000;
	text-align:center;
}

.list_pmi table th{
	border:1px solid #A9A9A9;
	background-color:#CCCCCC;
	color:#000000;
	text-align:center;
}

.list_pmi table td{
	border:1px solid #A9A9A9;
	text-align:center;
}

.index_link{
    padding-left: 10px;
    margin-left: 10px;
    text-align: center;
}
/*** end for pmi ***/

/**banner advertise**/
.ban-advertise{
	padding-top: 10px;
    overflow: hidden;
    /*height: 60px;*/
	padding-bottom:10px;
	height:60px;
}
div.w-index-close{
	padding-bottom:15px;
}
div.no-index-banner{
	padding-top:10px;
}	
	
	
	
}
