﻿@charset "UTF-8";#news-main{clear:both;float:left;width:646px;padding:5px;background-color:#fff;display:inline}.midashi{font-weight:bold;font-size:16px}.headline{clear:both;border:1px solid #ccd9f2;text-align:left;width:635px;background-color:#fff;margin-bottom:5px;padding:5px}.hl{margin-bottom:5px}.bignews{float:left;border:1px solid #ccd9f2;text-align:left;width:425px;background-color:#fff;margin-bottom:5px;padding:5px;display:inline}.mininews{float:right;border:1px solid #ccd9f2;text-align:left;width:191px;background-color:#fff;margin-bottom:5px;padding:5px;display:inline}#news-main h3{padding-left:5px;background:#efefef;font-weight:bold}#news-main a{text-decoration:none}#news-main a:hover{text-decoration:underline}#news-main li{line-height:1.6}.news-sub a{text-decoration:none}.news-sub a:hover{text-decoration:underline}.news-sub li{line-height:1.6}#news-side{float:right;margin:5px 5px 5px 0;display:inline}.news-sub{width:298px;margin-top:5px;border:1px solid #ccd9f2;background-color:#fff}.news-sub h3{text-align:center;background:url(/img/subh3.gif) repeat-x;height:21px;margin:0 1px}.news-sub table{border:0;text-align:left;margin-left:5px}.news-sub td{border:0;padding:1px 0}.sideq{float:left;width:70px;display:inline}.sideq2{text-align:right;width:70px}.sideq3{text-align:right;width:70px}.sideq4{text-align:right;width:70px}.newslist3{border:1px solid #ccd9f2;padding:5px;width:635px;margin-bottom:5px;font-size:16px;text-align:center}.newslist{float:left;display:inline}a.newslist2{display:block;padding:0 10px}.tweet2{margin-top:5px;text-align:center;border:1px solid #c3d8f0;padding:5px 0}
.qa_block {
    font-size: 0.8em;
    color: #666;
    width: 600px;
    margin-bottom: 0px;
}

.qa_body {
    padding: 0 40px;
    font-size: 0.9em;
}

.qa_hr {
    border: 1px #EEE solid;
    width: 90%;
}

div#pagenation {
   position: relative;
   overflow: hidden;
   float: right;
   margin: 10px 30px 0 0;
}
div#pagenation ul {
	position:relative;
	left:50%;
	float:left;
	list-style: none;
}
div#pagenation li {
	position:relative;
	left:-50%;
	float:left;
}
div#pagenation li.dot {
	top: 5px;
}
div#pagenation li a {
	border:1px solid #CECECE;
	margin: 0 3px;
	padding:3px 7px;
	display: block;
	text-decoration:none;
	color: #666666;
	background: #fff;
}
div#pagenation li.active a,
div#pagenation li a:hover{
	border:solid 1px #666666;
	color: #FFFFFF;
	background: #3399FF;
}
div#pagenation .page_info {
    margin-right: 20px;
    font-size: 0.9em;
    margin: 5px 10px;
    text-align: right;
}
