﻿@charset "UTF-8";
body,ul,li,p,h1,h2,h3{
margin:0;
padding:0
}

body{
font-family:"ＭＳ Ｐゴシック",Osaka,"ヒラギノ角ゴ Pro W3",Arial;
font-size:80%;
line-height:1.4;
color:#000;
background-color:#c99
}

#nightbody{
background-color:#008080
}

#hikaku{
background-color:#9cf
}

ul{
list-style-type:none
}

img{
border:none
}

p{
padding-left:10px;
margin-bottom:10px
}

.pside{
padding:3px;
margin-bottom:5px
}

.red{
color:#c80000
}

.green{
color:#393
}

a,a:visited,a:active,a:hover{
color:#04c
}

h1,h2,h3{
clear:both
}

h1{
clear:both;
color:#fff;
font-size:15px;
height:22px;
padding:1px 0 0 10px;
margin:2px 0;
/*
background:url(/img/csssp20100921.png) no-repeat center left;
*/
background-color: #666666;
background-position:0 -54px
}

h2{
clear:both;
border-top:1px solid #5581a0;
border-bottom:1px solid #5581a0;
background-color:#6294b8;
font-size:15px;
color:#fff;
margin:2px 3px;
text-align:center
}

h3{
clear:both;
font-size:14px;
font-weight:normal;
background:url(/img/csssp20100921.png) no-repeat;
background-position:0 -80px;
text-align:center
}

#container{
width:1550px;
margin:0 auto;
/*
background:url(/img/container-bg.png) repeat-y left;
*/
background-color:#FFF;
padding:5px 3px 0 3px
}

#header{
width:1550px;
height:25px;
border-bottom:1px solid #d8dedd;
padding-bottom:5px
}

#himg{
float:left;
margin-left:10px;
display:inline
}

#headerright{
float:right;
padding-right:10px;
margin-top:11px;
display:inline
}

#headerright li{
display:inline;
padding-left:10px
}

#bigbanner{
float:left;
text-align:center;
margin:5px 5px 5px 30px;
}

#navi{
clear:both;
width:1550px;
height:27px;
/*
background:url(/img/csssp20100921.png) no-repeat;
*/
background-color: #333333;
background-position:0 -108px
}

#navi a.select{
color:#000;
font-weight:bold;
background:url(/img/csssp20100921.png) no-repeat;
background-position:0 -140px
}

#navi li{
float:left;
line-height:27px
}

#navi li a{
color:#fff;
display:block;
padding:0 12px
}

#cse-search-box{
float:right;
margin-right:5px;
margin-top:2px;
display:inline
}

.subnavi{
background-color:#fefefe;
height:26px;
border-bottom:1px solid #969696;
clear:both
}

.subnavi li{
float:left;
padding-left:8px;
background:url(/img/subnavi-bg.gif) no-repeat center left
}

.subnavi a{
display:block;
line-height:15px;
padding:3px 5px;
margin-top:3px
}

.subnavi li.first{
background:none
}

.subnavi a.blank{
background:url(/img/blank.gif) no-repeat center right;
padding-right:15px
}

.subnavi a.thispage{
background-color:#04c;
color:#fff;
font-weight:bold
}

#tops{
clear:both;
width:1550px;
height:215px;
border:1px solid #666;
border-width:1px 0;
/*
background:url(/img/csssp20100921.png) no-repeat;
*/
background-color: #DDDED3;
background-position:0 -435px
}

.nydow{
float:left;
background:#FFF;
border:1px solid #666;
border-width:16px 1px;
margin:1px 3px 3px 5px;
width:175px;
height:180px;
display:inline
}

.usdjpy{
float:left;
border:1px solid #666;
border-width:16px 1px;
width:187px;
height:180px;
text-align:center;
margin:1px 2px 3px 2px;
background-color:#FFF;
display:inline
}

.usdjpy h3{
margin-bottom:20px
}

/*add 20140430*/
.sp500{
float:left;
border:1px solid #666;
border-width:10px 1px;
width:187px;
height:180px;
text-align:center;
margin:5px 2px 3px 2px;
background-color:#FFF;
display:inline
}

.sp500 h3{
margin-bottom:35px
}
/*add end*/

.sponcer {
	font-size:10px;
	width: 200px;
	margin: -5px 5px 3px 0px;
	display: inline
}

.pickup{
float:right;
width:200px;
height:200px;
background-color:#fff;
margin:0px 5px 3px 3px;
display:inline
}

#main{
clear:both;
float:left;
width:1550px;
margin:1px;
display:inline;
background:#fff
}

.wchart{
float:left;
border:1px solid #a1a1a1;
text-align:center;
width:192px;
height:135px;
margin:2px;
display:inline
}

#underbanner{
float:left;
/*
clear:both;
width:792px;
height:90px;
*/
text-align:center;
padding:3px 0;
margin:5px 5px 5px 30px;
}

#underbanner-forex{
clear:both;
width:743px;
height:90px;
text-align:center;
padding:3px 0;
}

#subwaku{
float:right;
margin:3px 3px 2px 0;
display:inline
}

.sub{
width:155px;
padding:0 0 0 1px;
margin:2px 0 0 1px;
border:1px solid #c3d8f0
}

.sub h3{
height:21px;
background:url(/img/csssp20100921.png) no-repeat;
background-position:0 -411px
}

/*add 20140502*/
.wchart_notice{
float:left;
width:192px;
height:135px;
margin:2px;
display:inline
}

.undersub{
width:1550px;
margin: 2px;
}

.under_list{
float:left;
list-style-type: none;
}

.clear{
clear:both;
}

/*add 20140506*/
.chart_area{
width:1390px;
float:left;
margin-right:1px;
}

.side_area{
width:149px;
float:left;
}
/*add end*/

.side{
margin:0px
}

.side li{
line-height:1.9;
padding-left:10px;
background-position:-220px -160px;
list-style:none;
}

.tweet{
margin-bottom:5px;
text-align:center;
border:1px solid #c3d8f0;
padding:5px 0
}

.tweet2{
margin-top:5px;
text-align:center;
border:1px solid #c3d8f0;
padding:5px 0;
margin-right:5px
}

.tweet3{
margin-top:5px;
border:1px solid #c3d8f0;
padding:5px 0
}

.guusuu{
background-color:#f5f5f5
}

.note{
text-align:left;
padding:10px
}


.note ul{
margin-left:10px;
margin-bottom:10px
}

#main-forex{
float:left;
width:743px;
margin:3px 5px 5px 5px;
display:inline
}

#subwaku-middle{
float:right;
margin:5px 5px 0 0;
display:inline
}

.sub-forex{
border:1px solid #c3d8f0;
background:#fff;
width:198px;
margin:5px 5px 5px 0
}

.sub-forex h3{
height:21px;
margin:0 1px;
background:url(/img/csssp20100921.png) no-repeat;
background-position:0 -411px
}

.wchart-forex{
float:left;
border:1px solid #a1a1a1;
text-align:center;
width:241px;
height:149px;
margin:2px;
display:inline
}

.wchart2{
float:left;
border:1px solid #a1a1a1;
width:365px;
height:208px;
margin:2px;
margin-bottom:10px;
display:inline
}

.wchart-225{
float:left;
border:1px solid #a1a1a1;
width:192px;
height:117px;
margin:2px;
display:inline
}

table{
border:2px solid #333;
margin:5px 0;
text-align:center;
border-collapse:collapse
}

td{
border:1px solid #333;
padding:2px
}

.linkunit{
margin:6px 15px
}

.quote-mini{
font-size:12px;
text-align:right;
border:none
}

.td1,.td2,.td3,.td4,.td5{
padding:1px 0;
border:none
}

.td1{
text-align:left;
width:50px;
padding:2px 4px
}

.td2{
width:53px
}

.td3{
width:50px
}

.forex-quote{
text-align:right;
border:none;
margin-left:5px
}

.td4{
width:80px
}

.quote-middle{
font-size:12px;
text-align:right;
border:none
}

.td5{
text-align:left;
width:80px;
padding:2px 4px
}

.lectads{
padding:10px;
border:1px dotted #666;
border-width:1px 0
}

#footer{
clear:both;
height:50px;
padding:0 20px;
line-height:50px;
color:#fff;
/*
background:url(/img/csssp20100921.png) no-repeat
*/
background-color:#333333;
}

#footer ul{
float:right
}

#footer li{
display:inline;
padding-left:10px
}

#footer a{
color:#FFF;
text-decoration:none
}

#footer a:hover{
text-decoration:underline
}

#copyright{
float:left
}
