﻿@charset "UTF-8";

body,ul,li,p,h1,h2,h3 {
    margin: 0;
    padding: 0
}
body {
    font-family: "ＭＳ Ｐゴシック",Osaka,"ヒラギノ角ゴ Pro W3",Arial;
    font-size: 12px;
    line-height: 1.4;
    color: #000;
    margin:0;
    padding:0;
}
header{
    height: 56px;
    padding:2px 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
    position: relative;
}
.logo{
    float:left;
    height: 100%;
    display: table;
    padding-left: 10px;
}
.pc{
    float:right;
    height: 100%;
    display: table;
    padding-right: 15px;
}
.pc button{
    border:none;
    background: none;
}
.vcenter{
    display: table-cell;
    vertical-align: middle;
}
#nightbody {
    background-color: #008080
}
#hikaku {
    background-color: #9cf
}
ul {
    list-style-type: none
}
img {
    border: none
}
p {
    padding-left: 10px;
    margin-bottom: 10px
}
.pside {
    padding: 3px;
    margin-bottom: 5px
}
.red {
    color: #c80000
}
.green {
    color: #393
}
a,a:visited,a:active,a:hover {
    color: #04c
}
h1,h2,h3 {
    clear: both
}
h1 {
    clear: both;
    color: #fff;
    font-size: 15px;
    height: 22px;
    padding: 1px 0 0 10px;
    margin: 2px 0;
    background: url(/img/csssp20100921.png) no-repeat center left;
    background-position: 0 -54px
}
h2 {
    clear: both;
    border-top: 1px solid #5581a0;
    border-bottom: 1px solid #5581a0;
    background-color: #6294b8;
    font-size: 14px;
    color: #fff;
    margin: 2px 3px;
    text-align: center
}
h3 {
    clear: both;
    font-size: 14px;
    font-weight: normal;

}
#container {
    width: 100%;
    margin: 0 auto;
    background-color: #FFF;
}
#header {
    width: 964px;
    height: 25px;
    border-bottom: 1px solid #d8dedd;
    padding-bottom: 5px

}
#header li img {
    border: 0;
    vertical-align: top
}
#himg {
    float: left;
    margin-left: 10px;
    display: inline
}
#headerright {
    float: right;
    padding-right: 10px;
    margin-top: 11px;
    display: inline
}
#headerright li {
    display: inline;
    padding-left: 10px
}
#bigbanner {
    clear: both;
    text-align: center;
    margin: 5px
}
#navi {
    clear: both;
    width: 964px;
    height: 27px;
    background: url(/img/csssp20100921.png) no-repeat;
    background-position: 0 -108px
}
#navi a.select {
    color: #000;
    font-weight: bold;
    background: url(/img/csssp20100921.png) no-repeat;
    background-position: 0 -140px
}
#navi li {
    float: left;
    line-height: 27px
}
#navi li a {
    color: #fff;
    display: block;
    padding: 0 12px
}
#cse-search-box {
    float: right;
    margin-right: 5px;
    margin-top: 2px;
    display: inline
}
.subnavi {
    background-color: #fefefe;
    height: 26px;
    border-bottom: 1px solid #969696;
    clear: both
}
.subnavi li {
    float: left;
    padding-left: 8px;
    background: url(/img/subnavi-bg.gif) no-repeat center left
}
.subnavi a {
    display: block;
    line-height: 15px;
    padding: 3px 5px;
    margin-top: 3px
}
.subnavi li.first {
    background: none
}
.subnavi a.blank {
    background: url(/img/blank.gif) no-repeat center right;
    padding-right: 15px
}
.subnavi a.thispage {
    background-color: #04c;
    color: #fff;
    font-weight: bold
}
#tops {

    border: 1px solid #666;
    border-width: 1px 0;
    margin-bottom:15px;

}
.nydow {
    border: 1px solid #666;
    border-width: 1px 1px;
    width: 100%;
    margin-bottom:2px;
}
.usdjpy {
    width: 100%;
    overflow: hidden;
    border: 1px solid #666;
    border-width: 1px 1px;
    text-align: center;

    margin-bottom: 15px;
}
.nydow a,
.usdjpy a{
    display: block;padding:8px;
}
.nydow img,
.usdjpy img{

    width:100%;
}

.usdjpy h3 {
    margin-bottom: 20px
}

#main {
    clear: both;
    width:100%;
    overflow:hidden;

    margin-top:15px;

}
.grid{
    float: left;
    width:50%;
    padding:2px;
    box-sizing: border-box;
}
.grid .box{
    width:100%;
    padding:2px;
    box-sizing: border-box;
}
.image{
    padding: 10px;
}
.wchart{
    border: 1px solid #a1a1a1;
    text-align: center;
    width:100%;
    overflow:hidden;
    margin-bottom:15px;
    padding:0;
}
.wchart h3{
    text-align: left;
}
.wchart a{
    display: block;
    width:100%;
}
.wchart a img
{
    width:100%;
}

#footer {
    border-top:1px solid #333;
    clear: both;
    height: 50px;
    line-height: 50px;
    color: #000;
    width:100%;
    text-align: center;
}
#footer ul {
    text-align: center;
    width:100%;
    display: table;
    background:#f3b700;
}
#footer li {
    display: table-cell;
    padding-left: 10px
}
#footer a {
    color: #000;
    text-decoration: none
}
#footer a:hover {
    text-decoration: underline
}


#fxempire_link{
    font-size:11px;
}
#fxempire_link img{
    width:100%;
}
.imup{
    width:100%;
}


.clear{
    clear: both;
}
nav.menu{
    margin-bottom: 10px;
    padding:2px;
}
.main-menu{
    display: table;
    width:100%;
    color:#fff;
    margin:0;
    padding: 0;
    height:54px;
}
.main-menu li{
    display: table-cell;
    text-align: center;
    width:20%;
    display: table-cell;
    vertical-align: middle;
    padding:2px;
    box-sizing: border-box;
}
.main-menu li a{
    width: 100%;
    height: 100%; 
    color: #fff;
    background:url('../images/main-menu.png') repeat-x #3a78b0;
    display: table;
    font-size:14px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    box-sizing: border-box;
    border:1px solid #000;
}
.main-menu li a span{
    display: table-cell;
    vertical-align: middle;
}
.hide{
    display: none;
}
.sub-menu ul{
    display: table;
    width:100%;
    color:#fff;
    margin:0;
    padding:0 2px;
    height: 30px;
    box-sizing: border-box;
}

.sub-menu li{
    display: table-cell;
    text-align: center;
    width:auto;
    display: table-cell;
    vertical-align: middle;
    color:#000;
    height: 30px;
}
.sub-menu li a{
    width: 100%;
    height: 100%; 
    color:#fff;
    background:#ccc;
    display: table;
    font-size:12px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    box-sizing: border-box;

}
.sub-menu li a span{
    display: table-cell;
    vertical-align: middle;
}
nav.menu a.active,
.sub-menu li a{
    background:url('../images/menu-active.png') repeat-x #f0be25;
}
.sub-menu li a.active{
    color:#000;
    background: #f3b700;
}
nav.menu .w-20 li{
    width:20%;
}
nav.menu a.top-menu{
    background:url('../images/menu-top.png') repeat-x #ac3434;
}
nav.menu ul.minichart{
    display: block;
 
}
nav.menu ul.minichart li{
    float: left;
    display: inline-block;

}
.content{
    padding:0 15px ;
}
.graph-btn{
    background: #ccc;
    font-size:15px;
    text-align: center;
    cursor: pointer;
}
.tap-graph{
    position: fixed;
    top:60px;
    background: #fff;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding:0;
    display: none;
}
.graph-desc{
    width:100%;
    padding:4px 0 0 0;
    margin-bottom:5px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;

}
.graph-desc h3{
    font-size:14px;
    color:#ff0000;
    text-align: center;
}
.graph-desc p{
    font-size:12px;
    display: inline;
}
.graph-desc p span{
    display: block;
    font-size: 12x;
}
.info{
    text-align: center;
}
.tap-graph #chart canvas{
    width:100% !important;
    height: auto !important;
}
.graph-img{
    padding:2px;
    margin-bottom:5px;
}
.graph-adv{
    padding:2px;
    text-align: center;
}
.chart canvas,
.chart img{
    width:100% !important;
    height: auto !important;
}
.imup{
    width:100%;
}
.highslide-image{
    top:100px !important;
    width: 100% !important;
    position: fixed !important;
    height: auto !important;
}
.highslide-container table{
    display: none;
}
#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width:30px;
    display: none;
    color: #d7d7d7;
    padding:2px;
    background-color:#f0be25;
}

.swiper-container {
    
    height: 30px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    box-sizing: border-box;
    margin:0 2px;
}
.swiper-container ul.swiper-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.swiper-container li.swiper-slide {
    text-align: center;
    font-size: 12px;
    background: #fff;

    /* Center slide text vertically */
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container li.swiper-slide {
    display: inherit;
    height: 30px;
}
.swiper-button-next, 
.swiper-button-prev{
    height: 32px;
    background-color: #b98b00;
    margin-top:0;
    top:0;
    width:16px;
    -moz-background-size:auto;
    background-size:auto;
    
    
}
.swiper-button-next{
    right:0;
    background-image:url('../images/next.png');
    background-size: 12px;
    
}
.swiper-button-prev{
    left:0;
    background-image:url('../images/prev.png');
    background-size: 12px;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    display: none;
}