<html>
<head>
<meta charset="utf-8">
</head>

<body>
<canvas id="canvas" height="450" width="600"></canvas>

<script src="js/jQuery_2.1.0.js"></script>
<script src="js/Chart.js"></script>

<script type="text/javascript">

var lineChartData = {
    labels : ['14:30','','14:30','','14:30','','14:30','','14:30','','14:30','','14:30','','14:30','','14:30','','14:30','','14:30','','14:30','','14:30','','14:30','','14:30','','14:30', ''],
    datasets : [
        {
            fillColor : "#66ccff",
            strokeColor : "#66ccff",
            data : [1, 59, 90, 81, 56, 55, 40, 30, 10, 40,1, 59, 90, 81, 56, 55, 40, 30, 10, 40,1, 59, 90, 81, 56, 55, 40, 30, 10, 40, 48, 58]
        }
    ]
}
// オプション
var options = {
    // X, Y 軸ラインが棒グラフの値の上にかぶさるようにするか    
    scaleOverlay : true,
    // 値の開始値などを自分で設定するか
    scaleOverride : false,
    // 以下の 3 オプションは scaleOverride: true の時に使用
    // Y 軸の値のステップ数
    // e.g. 10 なら Y 軸の値は 10 個表示される
    //scaleSteps : 10,
    // Y 軸の値のステップする大きさ
    // e.g. 10 なら 0, 10, 20, 30 のように増えていく
    //scaleStepWidth : 15,
    // Y 軸の値の始まりの値
    scaleStartValue : 0,
    // X, Y 軸ラインの色
    scaleLineColor : "rgba(0, 0, 0, .1)",
    // X, Y 軸ラインの幅
    scaleLineWidth : 1,
    // ラベルの表示 ( Y 軸の値 )
    scaleShowLabels : true,
    // ラベルの表示フォーマット ( Y 軸の値 )
    //scaleLabel : "<%=value%>%",
    // X, Y 軸値のフォント
    scaleFontFamily : "'Arial'",
    // X, Y 軸値のフォントサイズ
    scaleFontSize : 12,
    // X, Y 軸値のフォントスタイル, normal, italic など
    scaleFontStyle : "italic",
    // X, Y 軸値の文字色
    scaleFontColor : "#666",    
    // グリッドライン ( Y 軸の横ライン ) の表示 
    scaleShowGridLines : true,
    // グリッドラインの色
    scaleGridLineColor : "rgba(0, 0, 0, .05)",
    // グリッドラインの幅
    scaleGridLineWidth : 1,
    // ラインが曲線 ( true ) か直線 ( false )か
    bezierCurve : false,
    // ポイントの点を表示するか
    pointDot : false,
    // ポイントの点の大きさ
    pointDotRadius : 5,
    // ポイントの点の枠線の幅
    pointDotStrokeWidth : 1,
    // データセットのストロークを表示するか
    // みたいですが、ちょっと変化が分からなかったです
    datasetStroke : false,
    // ラインの幅
    datasetStrokeWidth : 1,
    // ラインの内側を塗りつぶすか
    datasetFill : true,
    // 表示の時のアニメーション
    animation : true,
    // アニメーションの速度 ( ステップ数 )
    animationSteps : 60,
    // アニメーションの種類, 以下が用意されている
    // linear, easeInQuad, easeOutQuad, easeInOutQuad, easeInCubic, easeOutCubic,
    // easeInOutCubic, easeInQuart, easeOutQuart, easeInOutQuart, easeInQuint,
    // easeOutQuint, easeInOutQuint, easeInSine, easeOutSine, easeInOutSine,
    // easeInExpo, easeOutExpo, easeInOutExpo, easeInCirc, easeOutCirc, easeInOutCirc,
    // easeInElastic, easeOutElastic, easeInOutElastic, easeInBack, easeOutBack,
    // easeInOutBack, easeInBounce, easeOutBounce, easeInOutBounce
    animationEasing : "easeOutQuad",
    // アニメーション終了後に実行する処理
    // animation: false の時にも実行されるようです
    // e.g. onAnimationComplete : function() {alert('complete');}
    onAnimationComplete : null
}
var chart = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData, options);

</script>

</body>
</html>